.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.qm-header {
  background-color: #ccc;
}

.qm-event-container {
  background-color: rgb(117, 172, 126);
  border: 1px solid #000;
}

  .qm-event-container .col {
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
  }

.qm-event-title {
  background-color: #fc0;
}